{{ define "main" }}

{{ $sass := resources.Get "scss/components/pages/_nosotros.scss" }}
{{ $style := $sass | resources.ToCSS | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}"> 
<main class="mt-5 mb-5">

  <!--- #BARRA-->

  <aside class="sidebar" data-sidebar>

    <div class="sidebar-info">

      <figure class="avatar-box">
        <img src="/logo-cae.png" alt="Logo del {{ .Site.Params.Title }}" width="80">
      </figure>

      <div class="info-content">
        <h1 class="h1 name text-wrap" title="{{ .Title | safeHTML }}">{{ .Title }}</h1>

        <p class="title">{{ .Site.Params.Title }} - Física</p>
      </div>

      <button class="info_more-btn" data-sidebar-btn>
        <span>Más información</span>

        <ion-icon name="chevron-down"></ion-icon>
      </button>

    </div>

    <div class="sidebar-info_more">

      <div class="separator"></div>

      <ul class="contacts-list">

        {{ $group := .Site.Data.authors.organization }}
        {{ range $group }}
        {{ range . }}
        <li class="contact-item">

          <div class="icon-box">
            <ion-icon name="{{ .tipo }}-outline"></ion-icon>
          </div>

          <div class="contact-info">
            <p class="contact-title">{{ .nombre }}</p>
            
            {{ if eq .tipo "calendar" }}
            <time datetime="{{ .fecha }}">{{ .descripción }}</time>
            {{ else }}
            <a {{ if eq .tipo "mail" }}href="mailto:{{ .descripción }}"{{ end }} class="contact-link">{{ .descripción }}</a>
            {{ end }}
          </div>

        </li>
        {{ end }}
        {{ end }}
      </ul>

      <div class="separator"></div>

      <ul class="social-list">

        {{ range .Site.Menus.social -}}
        <li class="social-item">
          <a class="nav-link ps-0 py-1" href="{{ .URL | relURL }}">{{ .Pre | safeHTML }}<small class="ms-2 d-md-none">{{ .Name | safeHTML }}</small></a>
        </li>
        {{ end }}

        <!-- 
        <li class="social-item">
          <a href="https://www.twitter.com/caefisica" class="social-link">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
        </li>

        <li class="social-item">
          <a href="https://www.instagram.com/caefisica" class="social-link">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
        </li>
        -->
      </ul>

    </div>

  </aside>

  <!--
    - #CONTENIDO
  -->

  <div class="main-content">

    <!--
      - #NAVBAR
    -->

    <nav class="navbar nosotros">

      <ul class="navbar-list">

        <li class="navbar-item">
          <button class="navbar-link  active" data-nav-link>Acerca</button>
        </li>

        <li class="navbar-item">
          <button class="navbar-link" data-nav-link>Historia</button>
        </li>

        <li class="navbar-item">
          <button class="navbar-link" data-nav-link>Proyectos</button>
        </li>

      </ul>

    </nav>

    <!--
      - #NOSOTROS
    -->

    <article class="acerca  active" data-page="acerca">

      <header>
        <h2 class="h2 article-title">Nosotros</h2>
      </header>

      <section class="about-text">
        {{ partial "main/headline-hash.html" .Content }}
      </section>

      <!--
        - Miembros
      -->

      <section class="testimonials">

        <h3 class="h3 testimonials-title">Miembros actuales</h3>

        <ul class="testimonials-list has-scrollbar">
          {{ $json := getJSON "data/authors/members.json" }}
          {{ range sort $json "data" "asc" }}
          <li class="testimonials-item">
            <div class="content-card" data-testimonials-item>

              <figure class="testimonials-avatar-box">
                <img src="/images/avatar/{{ .avatar }}.png" alt="{{ .name }}" width="60" data-testimonials-avatar>
              </figure>

              <h4 class="h4 testimonials-item-title" data-testimonials-title>{{ .name }}</h4>

              <div class="testimonials-text" data-testimonials-text>
                <p>
                  {{ .description }}
                </p>
              </div>

            </div>
          </li>
          {{ end }}
        </ul>

      </section>


      <!--
        - js checks for this, delete later
      -->

      <div class="modal-container" data-modal-container>

        <div class="overlay" data-overlay></div>

        <section class="testimonials-modal">

          <button class="modal-close-btn" data-modal-close-btn>
            <ion-icon name="close-outline"></ion-icon>
          </button>

          <div class="modal-img-wrapper">
            <figure class="modal-avatar-box">
              <img src="/images/avatar/1.png" alt="Daniel lewis" width="80" data-modal-img>
            </figure>

            <img src="/images/icon/icon-quote.svg" alt="quote icon">
          </div>

          <div class="modal-content">

            <h4 class="h3 modal-title" data-modal-title>Daniel lewis</h4>

            <time datetime="2021-06-14">14 June, 2021</time>

            <div data-modal-text>
              <p>
                Richard was hired to create a corporate identity. We were very pleased with the work done. She has a
                lot of experience
                and is very concerned about the needs of client. Lorem ipsum dolor sit amet, ullamcous cididt
                consectetur adipiscing
                elit, seds do et eiusmod tempor incididunt ut laborels dolore magnarels alia.
              </p>
            </div>

          </div>

        </section>

      </div>

      <!--
        - anteriores miembros
      -->

      <section class="testimonials">

        <h3 class="h3 testimonials-title">Miembros anteriores</h3>

        <ul class="testimonials-list has-scrollbar">

          {{ $json := getJSON "data/authors/members_legacy.json" }}
          {{ range sort $json "data" "asc" }}
          <li class="testimonials-item">
            <div class="content-card" data-testimonials-item>

              <figure class="testimonials-avatar-box">
                <img src="/images/avatar/{{ .avatar }}.png" alt="{{ .name }}" width="60" data-testimonials-avatar>
              </figure>

              <h4 class="h4 testimonials-item-title" data-testimonials-title>{{ .name }}</h4>

              <div class="testimonials-text" data-testimonials-text>
                <p>
                  {{ .description }}
                </p>
              </div>

            </div>
          </li>
          {{ end }}

        </ul>

      </section>

    </article>

    <!--
      - #HISTORIA
    -->

    <article class="historia" data-page="historia">
      {{ $history := .Site.Data.content.history }}

      <header>
        <h2 class="h2 article-title">Historia</h2>
      </header>

      <section class="timeline">
        {{ range $history }}
        <div class="title-wrapper">
          <div class="icon-box">
            <ion-icon name="calendar-outline"></ion-icon>
          </div>
          <h3 class="h3">Primera etapa</h3>
        </div>

        <ol class="timeline-list">
          {{ range .Primera }}
          <li class="timeline-item">
            <h4 class="h4 timeline-item-title">{{ .evento }}</h4>
            <span>{{ .fecha }}</span>
            <p class="timeline-text">
              {{ .descripción }}
            </p>
          </li>
          {{ end }}

        </ol>
      {{ end }}
      </section>

      <section class="timeline">
        {{ range $history }}
        <div class="title-wrapper">
          <div class="icon-box">
            <ion-icon name="calendar-outline"></ion-icon>
          </div>
          <h3 class="h3">Segunda etapa</h3>
        </div>

        <ol class="timeline-list">
          {{ range .Segunda }}
          <li class="timeline-item">
            <h4 class="h4 timeline-item-title">{{ .evento }}</h4>
            <span>{{ .fecha }}</span>
            <p class="timeline-text">
              {{ .descripción }}
            </p>
          </li>
          {{ end }}

        </ol>
        {{ end }}
      </section>

      <section class="timeline">
        {{ range $history }}
        <div class="title-wrapper">
          <div class="icon-box">
            <ion-icon name="calendar-outline"></ion-icon>
          </div>
          <h3 class="h3">Etapa futura</h3>
        </div>

        <ol class="timeline-list">
          {{ range .Tercera }}
          <li class="timeline-item">
            <h4 class="h4 timeline-item-title">{{ .evento }}</h4>
            <span>{{ .fecha }}</span>
            <p class="timeline-text">
              {{ .descripción }}
            </p>
          </li>
          {{ end }}

        </ol>
        {{ end }}
      </section>

    </article>

    <!--
      - #PROYECTOS
    -->

    <article class="proyectos" data-page="proyectos">

      <header>
        <h2 class="h2 article-title">Proyectos</h2>
      </header>

      <section class="skill">

        <h3 class="h3 skills-title">Avances</h3>

        <ul class="skills-list content-card">

          <li class="skills-item">

            <div class="title-wrapper">
              <h5 class="h5">Wikilinks</h5>
              <data value="35">35%</data>
            </div>

            <div class="skill-progress-bg">
              <div class="skill-progress-fill project-1"></div>
            </div>

          </li>

          <li class="skills-item">

            <div class="title-wrapper">
              <h5 class="h5">Página web</h5>
              <data value="80">80%</data>
            </div>

            <div class="skill-progress-bg">
              <div class="skill-progress-fill project-2"></div>
            </div>

          </li>

          <li class="skills-item">

            <div class="title-wrapper">
              <h5 class="h5">Redes sociales</h5>
              <data value="50">50%</data>
            </div>

            <div class="skill-progress-bg">
              <div class="skill-progress-fill project-3"></div>
            </div>

          </li>

        </ul>

      </section>

      <br><br>

      <section class="projects">

        <ul class="filter-list">

          <li class="filter-item">
            <button class="active" data-filter-btn>Todo</button>
          </li>

          <li class="filter-item">
            <button data-filter-btn>Página web</button>
          </li>

          <li class="filter-item">
            <button data-filter-btn>Redes sociales</button>
          </li>

        </ul>

        <div class="filter-select-box">

          <button class="filter-select" data-select>

            <div class="select-value" data-selecct-value>Selecciona una categoría</div>

            <div class="select-icon">
              <ion-icon name="chevron-down"></ion-icon>
            </div>

          </button>

          <ul class="select-list">

            <li class="select-item">
              <button data-select-item>Todo</button>
            </li>

            <li class="select-item">
              <button data-select-item>Página web</button>
            </li>

            <li class="select-item">
              <button data-select-item>Redes sociales</button>
            </li>

          </ul>

        </div>

        <ul class="project-list">
          {{ $projects := .Site.Data.content.projects }}
          {{ range $projects }}
          {{ range . }}
          <li class="project-item  active" data-filter-item data-category="{{ .tipo | lower }}">
            <a href="{{ .enlace | safeHTML }}">

              <figure class="project-img">
                <div class="project-item-icon-box">
                  <ion-icon name="eye-outline"></ion-icon>
                </div>

                <img src="/images/thumbnail/{{ .thumbnail }}" alt="arrival" loading="lazy">
              </figure>
              
              <h3 class="project-title">{{ .nombre }}</h3>
              
              <p class="project-category">{{ .tipo }}</p>
              
            </a>
          </li>
          {{ end }}
          {{ end}}

        </ul>

      </section>

    </article>

  </div>

</main>

<!-- custom js link -->
{{ $nosotros := resources.Get "js/components/nosotros.js" | js.Build | minify | fingerprint "sha512" -}}
<script src="{{ $nosotros.RelPermalink }}" integrity="{{ $nosotros.Data.Integrity }}" crossorigin="anonymous" defer></script>

<!-- ionicon link -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js" integrity="sha512-Ta7m7CSVtknH4g6MRSsaidvmIUYVte91DzEgKSEPZDpaVVTyXLaIPGBRSFCRRLwVsyDFCzrp8+70L5RcHz46fw==" crossorigin="anonymous"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js" integrity="sha512-A0szvdIuCKA21xigr2/288rv04z5w6cH/GETcSny1t222OlOShgazYLkYIMUH6yAan2CxMeKkNwbmUuLqbnsBQ==" crossorigin="anonymous"></script>

{{ end }}