$main-color: $indigo-700;
$mask-image: url("/images/shape/hero-mask-svg.png");
$transition-duration: 0.3s;

@mixin desktop {
  @media (max-width: 991px) {
    @content;
  }
}

/* Temporary */
.mai-icon svg {
  max-width: 0.75rem;
  max-height: 0.75rem;
}

.button-content {
  font-weight: 700;
  font-size: 15px;
}

.button-subscribe {
  gap: 10px;

  svg {
    width: 32px;
  }

  .button-subheading {
    display: block;
    margin-bottom: 2px;
    color: #878787;
    font-weight: 400;
    font-size: 12px;
    text-align: start;
  }

  &:hover {
    background-color: #dbdbdb !important;
  }

  [data-dark-mode] & {
    &:hover {
      background-color: rgb(43, 48, 83) !important;
    }

    background-color: rgb(43, 48, 53) !important;

    .button-content {
      color: $white;
    }

    .button-subheading {
      color: rgba(255, 255, 255, 0.9);
    }

    svg {
      color: $white;
    }
  }
}

.hero {
  &_figure {
    .img-hero-mask {
      -webkit-mask: $mask-image;
      mask: $mask-image;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-size: contain;
      mask-size: contain;
      -webkit-mask-position: center center;
      mask-position: center center;
    }

    &-popup {
      bottom: 80px;
      transform: translateX(-50%);
      transition: all $transition-duration ease;

      @include desktop {
        bottom: -40px;
        left: 50%;
        transform: translateX(-50%);
      }

      .thumb {
        height: 10rem;
        width: 15.625rem;

        &::before {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: rgba(0, 0, 0, 0.6);
          z-index: 1;
        }
      }

      .popup-button {
        height: 60px;
        width: 60px;
        background: $white;
        z-index: 2;
        transition: all $transition-duration ease;

        svg {
          left: 55% !important;

          path {
            fill: $main-color;
          }
        }

        &:hover {
          background-color: $main-color;

          svg path {
            fill: $white;
          }
        }
      }

      &:hover {
        .popup-button {
          transform: translate(-50%, -50%) scale(1.1) !important;
        }
      }
    }
  }
}

@keyframes move-left {
  0% {
    transform: translateX(-50%);
  }

  50% {
    transform: translateX(-57%);
  }
}

@keyframes move-top {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(15px);
  }
}

// Youtube player

.player_container {
  z-index: 1043;
  place-items: flex-end;

  --webkit-backface-visibility: hidden;

  .youtube_container {
    max-width: 90vw;
  }

  #close-button {
    color: $white;
  }
}

.cover_play {
  inset: 0;
  z-index: 1042;
  background-color: $gray-900;
  opacity: 0.8;
}

// Lista de miembros del CAE
.lista_miembros {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;

  .imagen_miembros {
    width: 83px;
    height: 83px;
    background-color: #eee;
    background-position: center;
    background-size: cover;
  }
}

/* Features */
.wp-block-buttons > .wp-block-button {
  display: inline-block;
  margin: 0;
}

:root {
  --font-size-lg: calc(calc(16px + 0.15vw) * var(--font-scale));
  --font-size-xl: calc(var(--font-size-lg) * var(--font-scale));
  --font-size-xxl: calc(var(--font-size-xl) * var(--font-scale));
  --font-size-xxxl: calc(var(--font-size-xxl) * var(--font-scale));
  --font-size-xxxxl: calc(var(--font-size-xxxl) * var(--font-scale));
  --spacing-md: 16px;
  --spacing-lg: calc(16px * var(--spacing-scale));
  --spacing-xl: calc(var(--spacing-lg) * var(--spacing-scale));
  --spacing-xxl: calc(var(--spacing-xl) * var(--spacing-scale));
  --spacing-xxxl: calc(var(--spacing-xxl) * var(--spacing-scale));
  --spacing-xxxxl: calc(var(--spacing-xxxl) * var(--spacing-scale));
  --side-spacing: calc(16px + 2vw);
  --padding-base: 8px;
  --padding-xs: var(--padding-base);
  --padding-sm: calc(var(--padding-base) * (var(--padding-scale) * 2));
  --padding-md: calc(var(--padding-sm) * var(--padding-scale));
  --padding-lg: calc(var(--padding-md) * var(--padding-scale));
  --padding-xl: calc(var(--padding-lg) * var(--padding-scale));
  --padding-xxl: calc(var(--padding-xl) * var(--padding-scale));
  --content-max-width: var(--breakpoint-xl);
  --border: 1px solid rgba(10, 20, 30, 0.05);
  --shadow: 0 0.25em 1em 0 rgba(10, 20, 30, 0.1);
  --transition: all 0.2s ease-in-out;
  --breakpoint-xl: 1200px;
  --color-black: #111;
  --color-heading: #111;
  --color-link: hsl(245, 58%, 61%);
  --color-link-light: hsl(245, 58%, 71%);
  --color-link-dark: hsl(245, 58%, 51%);
  --color-primary: hsl(245, 58%, 61%);
  --color-primary-dark: hsl(245, 58%, 41%);
  --button-color: #fff;
  --button-link-url: url("/images/icon/arrow-right.svg");
  --heading-font-weight: 700 !important;
  --heading-line-height: 125%;
  --h2-font-size: 1.5rem;
  --link-text-decoration: underline;
  --button-font-weight: var(--heading-font-weight);
  --button-background-hover: #e62e3e;
}

body {
  overflow-x: hidden;
}

a {
  transition: all 0.2s ease-in-out;
}

/* mai-column is only there to make sure it only applies to this section */
.mai-columns a {
  background-color: transparent;
  color: var(--link-color, var(--color-link));
}

a:focus,
a:hover {
  color: var(--color-link-dark, var(--link-color, var(--color-link)));
}

.has-black-color a {
  color: #111;
}

.mai-column a {
  text-underline-offset: var(--link-text-decoration-offset, 6px);
}

.has-xl-font-size a:hover {
  color: var(--color-primary);
}

[data-dark-mode] .has-xl-font-size a {
  color: #fff;
}

[data-dark-mode] .mai-columns a {
  color: #fff;

  &:hover {
    color: var(--color-link-dark, var(--link-color, var(--color-link)));
  }
}

p {
  width: auto;
  margin: var(--paragraph-margin, 0 0 var(--paragraph-margin-bottom, 16px));
  padding: 0;

  --font-size-lg: 1.25rem;
}

p:last-child {
  --paragraph-margin-bottom: 0;
}

h2 {
  margin-top: 0;
  margin-bottom: calc(16px * 1.5);

  --link-color: var(--color-heading);
  --font-size-xxxxl: 2.25rem;
}

.hover-box .button {
  --button-font-weight: 400;

  opacity: var(--hover-box-button-opacity, 1);
}

.wp-block-buttons {
  gap: 6px 6px;
  padding-top: 8px;
}

.hover-box .button,
.hover-box .wp-block-button,
.hover-box .wp-block-buttons {
  position: relative !important;
  margin-bottom: 0 !important;
  text-decoration: none;
}

.button:active,
.button:focus,
.button:hover {
  color: #111;
}

.button:disabled {
  opacity: 0.5;
}

.mai-columns .button,
.mai-columns .button:visited {
  position: relative;
  display: inline-block;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: auto;
  max-height: 100%;
  margin: 0;
  padding: var(--button-padding, 0.9rem 2rem);
  color: var(--button-color);
  line-height: 1.1;
  border: 0;
  border-radius: 2px;
  box-shadow: var(--button-box-shadow, none);
  transition: all 0.2s ease-in-out;
}

.button:visited:disabled {
  opacity: 0.5;
}

.button:visited:active,
.button:visited:focus,
.button:visited:hover {
  color: #111;
}

[data-dark-mode] .button:active,
[data-dark-mode] .button:focus,
[data-dark-mode] .button:hover {
  color: #fff;
}

[data-dark-mode] .mai-columns .button {
  color: #fff;

  &:hover,
  &:focus,
  &:active,
  &:visited:hover,
  &:visited:focus {
    color: var(--color-link-dark, var(--link-color, var(--color-link)));
  }

  &:visited:active {
    color: #fff;
  }
}

.content {
  width: 100%;
  max-width: var(--content-max-width);
  margin: var(--content-margin, var(--content-margin-top, 0) var(--content-margin-sides, auto) var(--content-margin-bottom, 0));

  --columns: 0;
  --alignfull-width: auto;
}

.has-columns,
.is-column {
  --flex-basis: calc((100% * var(--columns) - (var(--column-gap) * (1 - var(--columns)))) - 0.025px);
  --flex-default: 0 0 var(--flex-basis);
}

.has-columns {
  display: flex;
  flex-wrap: wrap;
  gap: var(--row-gap) var(--column-gap);
  align-items: var(--align-columns-vertical, initial);
  justify-content: var(--align-columns, initial);
}

.is-column {
  flex: var(--flex, var(--flex-default));
}

@media only screen and (min-width: 800px) and (max-width: 999px) {
  :root {
    --padding-scale: var(--padding-scale-tablet, 1.778);
  }

  .has-columns,
  .is-column {
    --flex: var(--flex-md, var(--flex-default));
    --columns: var(--columns-md, 1);
  }
}

@media only screen and (min-width: 1000px) {
  :root {
    --font-scale: var(--font-scale-desktop, 1.25);
    --spacing-scale: var(--spacing-scale-desktop, 1.5);
    --padding-scale: var(--padding-scale-desktop, 2);
  }

  .content {
    order: var(--content-order, 0);
  }

  .has-columns,
  .is-column {
    /* --flex: var(--flex-lg, var(--flex-default)); */
    --columns: var(--columns-lg, 1); /* Don't touch this */
  }
}

@media only screen and (max-width: 799px) {
  :root {
    --font-scale: var(--font-scale-mobile, 1.125);
    --spacing-scale: var(--spacing-scale-mobile, 1.333);
    --padding-scale: var(--padding-scale-mobile, 1.618);
  }

  h2 {
    word-break: var(--heading-word-break, break-word);
  }
}

@media only screen and (max-width: 599px) {
  .has-columns,
  .is-column {
    --flex: var(--flex-xs, var(--flex-default));
    --columns: var(--columns-xs, 1);
  }
}

.wp-block-group {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  padding: 8rem 2rem !important;

  --divider-position: relative;
}

.wp-block-group.alignfull {
  padding-right: calc(((100vw - 1200px) / 2) - calc(16px + 2vw));
  padding-left: calc(((100vw - 1200px) / 2) - calc(16px + 2vw));
}

.wp-block-group__inner-container {
  width: 100% !important;
  max-width: var(--content-max-width, var(--breakpoint-xl));
}

.wp-block-group.alignfull > .wp-block-group__inner-container {
  margin-right: var(--side-spacing);
  margin-left: var(--side-spacing);
}

.wp-block-group.has-background {
  margin-top: 0;
  margin-bottom: 0;
}

.mai-column {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.mai-column.is-column {
  --columns-xs: 1 / 1;
  --flex-xs: 0 0 calc((100% * 1 - (calc(calc(calc(calc(16px * 1.25) * 1.25) * 1.25) * 1.25) * (1 - 1))) - 0.025px);
  --columns-sm: 1/2;
  --flex-sm: 0 0 calc((100% * 1 - (calc(calc(calc(calc(16px * 1.25) * 1.25) * 1.25) * 1.25) * (1 - 1))) - 0.025px);
  --columns-md: 1/2;
  --flex-md: 0 0 calc((100% * 1 - (calc(calc(calc(calc(16px * 1.25) * 1.25) * 1.25) * 1.25) * (1 - 1))) - 0.025px);
  --columns-lg: 1/2;
  --flex-lg: 0 0 calc((100% * 1 - (calc(calc(calc(calc(16px * 1.25) * 1.25) * 1.25) * 1.25) * (1 - 1))) - 0.025px);
  --justify-content: center;
}

.mai-columns-wrap.has-columns {
  --column-gap: calc(calc(16px * 1.333) * 1.333);
  --row-gap: calc(calc(16px * 1.333) * 1.333);
  --align-columns: flex-start;
  --align-columns-vertical: initial;
}

.mai-icon {
  line-height: 0;
  vertical-align: middle;
}

.mai-icon-arrow-right {
  display: inline-flex;
  text-align: center;

  --icon-margin: 0 0 0 4px;
  --icon-padding: 0;
}

.mai-icon::after {
  clear: both;
  content: "";
  display: block;
}

.mai-icon-wrap {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  margin: 0 0 0 4px;
  padding: 0;
  text-align: center;
}

.alignfull {
  clear: both;
  width: 100vw;
  max-width: 100vw;
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
}

.has-xxxxl-font-size {
  font-size: var(--font-size-xxxxl);
}

.has-xl-font-size {
  font-size: 1.375rem;
}

.has-sm-font-size {
  font-size: 1.0625rem;
}

h2,
h3 {
  --link-color: var(--color-heading);
}

.hover-box h2 {
  --link-color: #111;
  --link-color-hover: hsl(245, 58%, 61%);
}

.has-md-margin-bottom {
  margin-bottom: 16px !important;
}

@media only screen and (max-width: 599px) {
  :root {
    --spacing-scale: 1.25;
    --padding-bottom-lg: calc(1rem + 4vw);
    --padding-top-lg: calc(1rem + 4vw);
    --padding-bottom-md: calc(1rem + 1vw);
    --padding-top-md: calc(1rem + 1vw);
    --link-text-decoration-offset: 4px;
  }
}

@media only screen and (min-width: 800px) {
  :root {
    --h2-font-size: 2rem;
  }

  p {
    --font-size-lg: 1.375rem;
  }
}

.hover-box {
  --hover-box-transform-distance: 0;
  --paragraph-margin-bottom: 0;
  --link-text-decoration: none;

  position: relative;
  padding: calc(calc(16px * 1.5) * 1.5) calc(calc(calc(16px * 1.5) * 1.5) * 1.5);
  transition: all 0.2s ease-in-out;
}

.hover-box:focus,
.hover-box:hover {
  --hover-box-transform-distance: 0;
  --hover-box-button-opacity: 1;
  --link-color: var(--color-heading);

  box-shadow: var(--shadow);
}

.hover-box > :not(.wp-block-buttons) {
  transform: translateY(var(--hover-box-transform-distance));
  transition: all 0.2s ease-in-out;
}

.hover-box .button::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
}

.button-link {
  --button-font-weight: 400;
  --button-color-hover: #111;
  --button-display: inline-block;
  --button-text-decoration: underline;
}

.hover-box .wp-block-buttons {
  margin-top: auto;
  padding-top: 0;
}

@media only screen and (min-width: 800px) {
  .hover-box {
    --hover-box-transform-distance: calc(16px * 1.5);
    --hover-box-button-opacity: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .content {
    position: relative;
  }
}

@media only screen and (max-width: 599px) {
  .has-xxxxl-font-size {
    font-size: 1.75rem;
  }
}

.button-link,
.button-link:visited {
  --button-color: var(--button-link-color, var(--color-link));
  --button-color-hover: #111;
}

.hover-box .button-link {
  --button-text-decoration: none;
  --button-text-decoration-hover: none;
}

.button-link::after,
.button-link:visited::after {
  display: inline-flex;
  flex: 0 1 auto;
  width: 0.75em;
  height: 0.75em;
  background: currentcolor;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  content: "";
  margin-bottom: -0.1em;
  margin-left: 8px;
  -webkit-mask-image: url("/images/icon/arrow-right.svg");
  mask-image: url("/images/icon/arrow-right.svg");
}

[data-dark-mode] body .alignfull .wp-block-button__link {
  color: hsl(245, 58%, 61%);
}

.wp-block-button:first-child > .button-link {
  padding-left: 0;
}

.wp-block-button:last-child > .button-link {
  padding-right: 0;
}

// Last edited articles Section

@media only screen and (min-width: 600px) and (max-width: 799px) {
  .has-columns,
  .is-column {
    --flex: var(--flex-sm, var(--flex-default));
    --columns: var(--columns-sm, 1);
  }
}

@media only screen and (min-width: 800px) and (max-width: 999px) {
  .has-columns,
  .is-column {
    --flex: var(--flex-md, var(--flex-default));
    --columns: 1/2;
  }
}

.entry-title {
  font-size: var(--entry-title-font-size, var(--font-size-xxxxl));

  .tag {
    font-size: 10px;
    min-width: 6rem;
    color: white;
  }
}

.entry-title:last-child {
  margin-bottom: 0;
}

.entry-title-link:focus,
.entry-title-link:hover {
  -webkit-text-decoration: none;
  text-decoration: none;
}

.entry-wrap {
  display: flex;
  flex: 1;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}

.entry-meta {
  display: flex;
  font-size: 13px;
  font-variant: all-small-caps;
  line-height: 1.2;
}

.podcast-subscribe {
  display: flex;
  align-items: center;
  justify-content: start;
}

.home-recent-podcasts .podcast-subscribe {
  display: block;
}

.podcast-list .entry {
  position: relative;
  border-bottom: 1px solid rgba(10, 20, 30, 0.05);
  padding-bottom: 36px;
  padding-top: 16px;
}

.recent-guides {
  --columns-xs: 1 / 1;
  --columns-sm: 1 / 1;
  --columns-md: 1 / 1;
  --columns-lg: 1 / 1;
  --flex-xs: 0 0 calc((100% * 1 / 1 - (calc (16px * 1.414) * (1 - 1 / 1))) - 0.025px);
  --flex-sm: 0 0 calc((100% * 1 / 1 - (calc (16px * 1.414) * (1 - 1 / 1))) - 0.025px);
  --flex-md: 0 0 calc((100% * 1 / 1 - (calc (16px * 1.414) * (1 - 1 / 1))) - 0.025px);
  --flex-lg: 0 0 calc((100% * 1 / 1 - (calc (16px * 1.414) * (1 - 1 / 1))) - 0.025px);
  --column-gap: calc(16px * 1.414);
  --row-gap: calc(16px * 1.414);
  --align-columns: flex-start;
}

.recent-guides-list {
  --flex-xs: 0 0 100% !important;
  --columns-sm: 1/2 !important;
  --flex-sm: 0 0 var(--flex-basis) !important;
  --columns-md: 2/3 !important;
  --flex-md: 0 0 var(--flex-basis) !important;
  --columns-lg: 2/3 !important;
  --flex-lg: 0 0 var(--flex-basis) !important;
  --justify-content: flex-start !important;
}

.study-guides-section {
  --column-gap: calc(calc(calc(calc(16px * 1.414) * 1.414) * 1.414) * 1.414) !important;
  --row-gap: calc(calc(16px * 1.414) * 1.414) !important;
  --align-columns: flex-start !important;
  --align-columns-vertical: initial !important;
}

.study-guides-description {
  --flex-xs: 0 0 100% !important;
  --columns-sm: 1/2 !important;
  --flex-sm: 0 0 var(--flex-basis) !important;
  --columns-md: 1/3 !important;
  --flex-md: 0 0 var(--flex-basis) !important;
  --columns-lg: 1/3 !important;
  --flex-lg: 0 0 var(--flex-basis) !important;
  --justify-content: flex-start !important;
}

.study-guides-list {
  --entry-title-font-size: var(--font-size-lg);
  --align-text: start;
  --entry-meta-text-align: start;
}