.div-father {
  min-height: 100vh;
  background: url("/images/shape/bg_colourful.png") -50vh 10% / 100% no-repeat fixed;
}

@media screen and (max-width: 768px) {
  .div-father {
    background-size: 250%;
    background-position: -50vh 30vh;
  }
}

body.dark-mode {
  --img: invert(1);
  --avatar-shadow: rgba(28, 22, 47, 0.3);
}

* {
  --white: #fff;
  --white20: #020202;
  --black: #11181c;
  --light-white: rgba(255, 255, 255, 0.03);

  margin: 0;
  padding: 0;
  border: 0;
  list-style: none !important;
  text-decoration: none !important;
  transition: all 0.1s ease 0s;
}

body {
  font-family: Jost, sans-serif;
  background: var(--black);
  color: var(--white20);
}

a {
  color: var(--white20);

  &:hover {
    color: inherit;
  }
}

.logo-clipped {
  clip-path: url("#hex");
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.div-child-1 {
  width: 650px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .div-child-1 {
    width: 100%;
  }
}

.div-header-website-title {
  h1 {
    font-size: calc(22px + 2px);
    font-weight: 500;
    line-height: 30px;
    padding: 0 20px;
    letter-spacing: -0.6px;
  }

  h4 {
    font-size: calc(18px + 2px);
    margin: 10px 0;
    color: rgba(255, 255, 255, 0.3);
    font-weight: 500;
    letter-spacing: -0.5px;
  }
}

.div-child-1-direct {
  min-height: 100vh;

  .div-footer-copyright {
    margin-bottom: 40px;
    color: rgba(255, 255, 255, 0.3);
    letter-spacing: -0.2px;
    font-weight: 500;

    .div-footer-copyright-title h4 {
      color: rgba(255, 255, 255, 0.3);
      letter-spacing: -0.2px;
      font-weight: 500;
    }
  }
}

.div-header-logo {
  margin-top: 60px;
  margin-bottom: 12px;
}

@media screen and (max-width: 768px) {
  .div-header-logo {
    margin-top: 20px;
  }
}

.div-header-logo-img-parent {
  height: 90px;
  width: 90px;
  margin-bottom: 12px;
}

.div-header-logo-img-child {
  filter: drop-shadow(0 1px 2px var(--avatar-shadow));

  img {
    height: calc(100% - 6px);
    width: calc(100% - 6px);
  }

  .avatar-border {
    background: var(--black);
  }

  .avatar-fill {
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    background: var(--black);
  }
}

.div-header-website-name h3 {
  margin-top: 6px;
  font-size: calc(18px + 2px);
  font-weight: 500;
  letter-spacing: -0.7px;
  color: rgba(255, 255, 255, 0.3);
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .div-header-website-name h3 {
    font-size: calc(15px + 2px);
    margin-top: 2px;
  }
}

@media screen and (max-width: 768px) {
  .div-header-website-title h1 {
    font-size: calc(18px + 2px);
    padding: 0 8px;
  }
}

@media screen and (max-width: 768px) {
  .div-header-website-title h4 {
    font-size: calc(15px + 2px);
    padding: 0 20px;
    line-height: 24px;
  }
}

@media screen and (max-width: 768px) {
  .div-body-parent {
    padding: 0 12px;
  }
}

.div-body-element {
  padding: 12px 0;
  display: flex;
  margin: 0 auto;
  max-width: 400px;
  flex-direction: column;

  &.social {
    max-width: max-content;
  }

  h3 {
    font-size: calc(12px + 1px);
    letter-spacing: 4px;
    color: rgba(255, 255, 255, 0.3);
  }
}

@media screen and (max-width: 768px) {
  .div-body-element h3 {
    font-size: calc(11px + 2px);
  }
}

.div-body-element-child-title {
  display: flex;
  font-size: calc(18px + 2px);

  img {
    height: 20px;
    margin-right: 10px;
  }
}

.div-body-element-banner {
  padding: 16px 20px;

  img {
    border: 1px solid var(--light-white);
    border-radius: 12px;

    &:hover {
      transform: scale(1.01);
    }
  }
}

.div-body-element-child {
  padding: 18px 20px;
  border-radius: 12px;
  margin: 8px 18px;
  border: 1px solid var(--light-white);
  letter-spacing: -0.5px;

  &::before {
    content: "";
    border-radius: 12px;
    display: block;
    position: absolute;
    z-index: -1;
    inset: -2px;
    opacity: 0;
    transform: scale(0.8);
  }

  &:hover {
    transition: all 333ms ease 0s;
    border-color: transparent;

    &::before {
      opacity: 1;
      background: linear-gradient(270deg, #131628 0, #27141c 100%);
      transition: all 333ms ease 0s;
      transform: scale(1);
    }
  }

  .new-up {
    transform: scale(0.8);
    opacity: 0.7;
  }

  &.socialIcon {
    padding: 16px;
    border-radius: 50%;
    border: none;
    margin: 4px;

    img {
      height: 24px;
    }
  }
}

@media screen and (max-width: 768px) {
  .div-body-element-child.socialIcon {
    padding: 10px;
    margin: 2px;

    img {
      height: 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .div-body-element-child {
    padding: 12px 16px;
    font-size: calc(16px + 2px);
  }
}

@media screen and (max-width: 768px) {
  .div-body-element-child-title {
    font-size: calc(14px + 2px);
  }
}